@model SistemaEscolar.Models.Aluno;
@{
  Layout = "~/Views/Shared/_CadastrarLayout.cshtml";
}

@section CSS {
  <link rel="stylesheet" href="/css/cadastroAlunos.css">
}

<div class="container text-center my-4">
  <h1 class="fw-bold text-uppercase">Editar Cadastro de Aluno</h1>
</div>

<div class="container form-container">
  <form action="/aluno/editar" method="POST">
    <!-- ID -->
    <div class="mb-3">
      <label class="form-label">ID:</label>
      <input type="text" class="form-control" disabled="true" value="@Model.IdAluno" name="IdAluno">
    </div>

    <!-- Nome -->
    <div class="mb-3">
      <label class="form-label">Nome:</label>
      <input type="text" class="form-control" value="@Model.Nome" name="Nome">
    </div>

    <!-- data de nascimento -->
    <div class="mb-3">
      <label class="form-label">Data de Nascimento:</label>
      <input type="date" class="form-control" value="@Model.Nascimento" name="Nascimento">
    </div>

    <!-- data de matricula -->
    <div class="mb-3">
      <label class="form-label">Data da Matrícula:</label>
      <input type="date" class="form-control" value="@Model.Matricula" name="Matricula">
    </div>

    <!-- Turma pelo ID -->
    <div class="mb-3">
      <label class="form-label">Turma:</label>
      <select name="IdTurma">
        <option value="@Model.Turma.IdTurma">@Model.Turma.Nome</option>
      </select>
    </div>

    <!-- RA -->
    <div class="mb-3">
      <label class="form-label">RA:</label>
      <input type="ra" class="form-control" value="@Model.RA" name="RA">
    </div>

    <!-- Botões -->
    <div class="d-flex justify-content-end gap-2">
      <button type="button" class="btn btn-yellow" data-bs-toggle="modal"
        data-bs-target="#modalAlterar">ALTERAR</button>
      <button type="button" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#modalExcluir">EXCLUIR</button>
      <input type="submit" class="btn btn-outline-info" value="ATUALIZAR">
    </div>
  </form>
</div>

<!-- Modal Alterar -->
<div class="modal fade" id="modalAlterar" tabindex="-1" aria-labelledby="modalAlterarLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-4">
      <h5 class="modal-title fw-bold mb-3" id="modalAlterarLabel">Tem certeza que deseja alterar?</h5>
      <h4 class="fw-bold mb-4">Maria Silvana Da Aparecida</h4>
      <p class="fw-semibold">Essa ação será permanente!</p>
      <div class="mt-4">
        <button type="button" class="btn btn-warning fw-bold px-4">ALTERAR</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Excluir -->
<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="modalExcluirLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-4">
      <h5 class="modal-title fw-bold mb-3" id="modalExcluirLabel">Tem certeza que deseja excluir?</h5>
      <h4 class="fw-bold mb-4">Maria Silvana Da Aparecida</h4>
      <p class="fw-semibold">Essa ação será permanente!</p>
      <div class="mt-4">
        <button type="button" class="btn btn-danger fw-bold px-4">EXCLUIR</button>
      </div>
    </div>
  </div>
</div>

</div> <!-- fim container -->

@section Scripts {
  <script src="/js/cadastroAlunos.js"></script>
}